.card {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  height: 150px;
  width: 300px;
  box-shadow: 6px 6px 8px 1px rgba(0, 0, 0, 0.5);
}

.card:nth-child(-n + 3) {
  margin-bottom: 100px;
}

.home-body {
  margin-top: 150px;
  display: grid;
  place-items: center;
}

.gainersAndLosers {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto;
  gap: 50px;
  padding: 10px;
  width: 100%;
  height: 100%;
}

.home-header {
  width: 100%;
}

.card {
  margin: 0 50px;
}
