.navbar-logo-img {
  height: 45px;
  width: 45px;
  margin-right: 16px;
  border-radius: 4px;
}

/* to remove padding from container component */
#root > div.portfolio-header > header > div {
  padding: 0;
}
